.movie-card {
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
}

.movie-card img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.movie-card .btn-container {
  display: flex;
  justify-content: space-between;
}

.movie-card .info {
  padding: 0.8rem;
  padding-top: 0;
}

.movie-card h1 {
  margin: 0;
}
