.nav-bar {
  background-color: var(--primary-color);
  position: fixed;
  inset: 0 0 0 0;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-bar .links {
  color: white;
  text-decoration: none;
}

.nav-bar .links:hover {
  text-decoration: underline;
}

.nav-bar .links-container {
  display: flex;
  gap: 1rem;
}
